.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 15vw);
    gap: 24px;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
}

.search{
    color: var(--fourth-color);
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 20vw;
    border-radius: 15px;
    padding: 15px;
    /* padding-left: 10px; */
    outline: none;
}