.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--fourth-color);
}

.image{
    height: 30vh;
    width: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
}