.header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid var(--secondary-color);
    height: 60px;
}

.logo{
    color: var(--fourth-color);
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: var(--fourth-color);
    transition: .2s;
}

.btn:hover {
    scale: 1.2;
}