.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--secondary-color);
    height: 60px;
    box-shadow: var(--box-shadow);
}

.logo{
    color: var(--fourth-color);
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
}

.btn {
    font-family: var(--font-family);
    font-weight: 700;
    background-color: var(--fourth-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 0.2s;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    color: var(--fourth-color);
    background-color: var(--secondary-color);

}

.link{
    text-decoration: none;
}