.container{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: var(--fourth-color);
    font-weight: 900;
    margin-bottom: 50px;
}

.link{
    text-decoration: none;
    color: var(--fourth-color);
    font-weight: 900;
}